/node_modules
/public/hot
/public/storage
/public/js
/public/css
/public/build
/public/fonts
/public/images
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
.php-cs-fixer.cache
.eslintcache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode
